.fixed-navBar{
    height: 120px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 30px;
    font-weight: 20px;
    background-color: #222;
    margin: 0px;
    align-items: center;
}
.fixed-navBar ul{
    width: 100%;
}

.litem {
    display:block;
    padding: 15px; 
    align-items: center;
}

.litem a{
    color:white;
}



.litem a:link{
    text-decoration: none;
}

.litem a:hover{
    color:rgb(128, 190, 128);
}

.litem a.active{ 
    background-color: rgb(128, 190, 128); 
    color:#222;
    padding:6px;
    
}