.recipes{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeItem:hover{
    box-shadow: 5px 5px 10px #6a6969;
}

.recipeTitle{
     text-align: center;
     font-size: 2em;

}
.deleteButton{
    border: none;
    margin: 40px;
    padding: 1rem;
    width: 10rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;

}
.deleteButton:hover{
    background-color: #ff4d4d;
}

.updateButton{
    border: none;
    margin: 40px;
    padding: 1rem;
    width: 10rem;
    font-size: 1.2em;
    border-radius: 0.2rem;
    cursor: pointer;
    
}

.updateButton:hover{
    background-color: #74dc74;;
}